@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Popins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #e6f1ff;
  background-color: #020c1b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}