.nav {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.nav a:hover,
.nav a:focus,
.nav a:active {
    color: #64FFDA;
    border-color: #64FFDA;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}